{% extends "base.html" %}

{% block corps %}
<form action="" method="post">
    <text>Please enter the ID number of image </text>
    <input type="text" name="imageId"  placeholder='city_000XXX_000XXX' min=15 max=40/>
    <input type="submit" value="Validate" />
 </form>
{% endblock %}

{% block result %}
<style type="text/css">
ul {list-style-type: square; font-size: 120%; line-height: 1.2;font-weight: bold;}
</style>
<h4>Image name : <font color="green">{{imagename}}</font></h4>
<table>
  <tr>
    <td>
        <h4 align=center>Original image</h4>
        <img id="picture1" src="data:image/png;base64,{{ image_origine }}"height="200px" width="400px"/>             
    </td>
    <td>
        <h4 align=center>Citiscapes label</h4>
        <img id="picture2" src="data:image/png;base64,{{ image_masque }}"height="200px" width="400px"/>  
    
    </tr>
    <tr>
    <td>
        <h4 align=center>Predicted label</h4>
        <img id="picture3" src="data:image/png;base64,{{ image_segment }}"height="200px" width="400px"/>             
    </td>
      <td align=center>
        <h4 >Color label</h4>
           <ul>
            {% for label in labels %}
              <font color = {{label[1]}}><li>{{ label[0] }}</li></font>
            {% endfor %}
          </ul> 
    </td>
    </tr>
    <tr>
    <td align=center>
          <a href="data:image/png;base64,{{ image_segment }}" download="predict_{{imagename}}" >Download predicted image: </a>
          <br>
          <text>predict_{{imagename}}</text>        
    </td>
      <td>

    </td>
    </tr>
</table>
{% endblock %}
{% block footer %}
<br>
<br>
<hr width="60%" color="#ff3385" align=left>
<footer>Openclassrooms P8 Yana Palyvoda</footer>
{% endblock %}


